<div class="settings-tabs">
  <p-tabs class="w-full" value="0">
    <p-tablist class="flex justify-center items-center">
      <p-tab value="0">User Settings</p-tab>
      <p-tab value="1">Data Management</p-tab>
      <p-tab value="2">Delete Data</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <update-user-settings/>
      </p-tabpanel>
      <p-tabpanel value="1">
        <data-management/>
      </p-tabpanel>
      <p-tabpanel value="2">
        <delete-data/>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
