<p-menu #sortOptions [model]="sortMenu" [popup]="true" appendTo="body" />
<div class="flex align-items-center gap-1 md:gap-2 responsive-button">
  <div class="flex flex-column mb-3">
    <div class="flex justify-content-start">
      <label for="sort_button" class="text-xs font-semibold" jhiTranslate="hof.sortMenu.label">Sorted By: </label>
    </div>
    <p-button
      id="sort_button"
      label="{{ getButtonLabel() }}"
      [outlined]="true"
      (onClick)="sortOptions.toggle($event)"
    />
  </div>

  <div class="responsive-button">
    <p-button
      icon="{{ getIcon() }}"
      [outlined]="true"
      [disabled]="sortState.predicate == null"
      (onClick)="emitNewOrder()"
    />
  </div>
</div>
