<page-header title="Categories"/>

<div class="p-card mb-3 p-2 col-12" style="background-color: #222225; border-radius: 8px;">
  <div class="flex justify-content-end mb-2">
    <p-button size="small" icon="pi pi-plus" [outlined]="true" (onClick)="addCategory()"/>
  </div>

  <p-table [value]="categoriesWithCounts" dataKey="id" editMode="row"
           stripedRows
           [tableStyle]="{ 'min-width': '100%' }"
           class="w-full">
    <ng-template #header>
      <tr>
        <th id="category" pSortableColumn="category.name">
          <span class="text-sm">
            Category
          <p-sortIcon field="category.name"/>
          </span>
        </th>
        <th id="numberOfBooks" pSortableColumn="stats.numberOfBooks">
          <span class="text-sm">
            Nº of books
          <p-sortIcon class="text-sm" field="stats.numberOfBooks"/>
          </span>
        </th>
        <th id="numberOfWishes" pSortableColumn="stats.numberOfWishes">
          <span class="text-sm">
            Nº of wishes
          <p-sortIcon class="text-sm" field="stats.numberOfWishes"/>
          </span>
        </th>
        <th id="buttons"></th>
      </tr>
    </ng-template>
    <ng-template #body let-categoryWithBookNumber let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="categoryWithBookNumber">
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText
                type="text"
                class="w-full"
                [(ngModel)]="categoryWithBookNumber.category.name"/>
            </ng-template>
            <ng-template #output>
              {{ categoryWithBookNumber.category.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <a class="font-normal text-lg md:text-lg lg:text-xl xl:text-2xl" style="color: inherit;"
             [routerLink]="'/my-library'"
             [state]="{ bookFilter: { categoryId: categoryWithBookNumber.id} }">
            {{ categoryWithBookNumber.stats.numberOfBooks }}
          </a>
        </td>
        <td>
          <a class="font-normal text-lg md:text-lg lg:text-xl xl:text-2xl" style="color: inherit;"
             [routerLink]="'/wish-list'"
             [state]="{ wishFilter: { categoryId: categoryWithBookNumber.id} }">
            {{ categoryWithBookNumber.stats.numberOfWishes }}
          </a>
        </td>
        <td>
          <div class="flex items-center justify-center gap-2">
            @if (editing) {
              <button
                pButton
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="onRowEditSave(categoryWithBookNumber.category)"
                text
                rounded
                size="small"
                severity="secondary"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancel(categoryWithBookNumber.category, ri)"
                text
                size="small"
                rounded
                severity="secondary"
              ></button>
            } @else {
              <button
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInit(categoryWithBookNumber.category)"
                text
                size="small"
                rounded
                severity="secondary"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                (click)="deleteCategory(categoryWithBookNumber.category, $event)"
                text
                size="small"
                rounded
                severity="secondary"
              ></button>
            }
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog [position]="'bottom'"/>
