.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #383737;
  height: 2.2rem;
  z-index: 10;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 80%;
  color: black;
}
