<div class="p-3">
  <div class="text-2xl font-semibold mb-5">{{ isUpdate ? 'Update Settings' : 'Create Settings' }}</div>

  <form [formGroup]="form" (ngSubmit)="save()" class="grid gap-3">
    <!-- Name -->
    <div class="col-12">
      <p-floatlabel>
        <input id="name" type="text" pInputText formControlName="name" class="w-full" />
        <label for="name">Name</label>
      </p-floatlabel>
      <div class="text-red-500 text-sm mt-1" *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
        Name is required.
      </div>
    </div>

    <!-- API Key -->
    <div class="col-12">
      <p-floatlabel>
        <p-password inputId="apiKey" formControlName="apiKey" [feedback]="false" [toggleMask]="true" />
        <label for="apiKey">API Key</label>
      </p-floatlabel>
    </div>

    <!-- Save Button -->
    <div class="col-12 mt-2">
      <p-button type="submit" label="Save" [disabled]="!canSave" [styleClass]="'w-full'"/>
    </div>
  </form>
</div>
