<div>
  <span class="text-2xl">Data Management</span>
</div>

@if (isLoading) {
  <div class="flex justify-content-center">
    <p-progress-spinner strokeWidth="8"
                        fill="transparent"
                        animationDuration=".5s"
                        [style]="{ width: '50px', height: '50px' }"/>
  </div>
} @else {
  <div class="mt-4">
    @for (entity of entities; track entities) {
      <div class="p-card mb-3 p-3" style="background-color: #222225; border-radius: 8px;">
        <div class="col">
          <span class="text-lg">{{ entity }}</span>
        </div>
        <div class="col">
          <div class="flex justify-content-center gap-2">
            <p-fileupload mode="basic"
                          chooseIcon="pi pi-file-import"
                          [chooseLabel]="'Import'"
                          accept=".csv,.txt"
                          maxFileSize="10485760"
                          (onSelect)="import($event, entity)"
                          [auto]="true"/>
            <p-button icon="pi pi-file-export" label="Export" (onClick)="export()"/>
          </div>
        </div>
      </div>
    }
  </div>
}
