.bottom-nav {
  // PrimeNG overrides only for this component
  ::ng-deep {
    .p-tablist-content,
    .p-tablist-tab-list {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 100%;
    }
  }
}
